:root {
    --primary-color: #1B4965;
    --accent1-color: #0B132B;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 120px;
    height: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

/* Hero */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: white;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.history img {
    width: 100%;
    height: auto;
}

.history p {
    margin: 0;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.adventures h2 {
    grid-column: 1/ -1;
    text-align: center;
}

.adventures figure {
    margin: 0;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
}

.adventures figcaption {
    margin-top: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia {
    display: flex;
    gap: 10px;
}